@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');

html {
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 90%;
}

.head {
    font-family: 'Playfair Display SC', serif;
    size: cover;
    text-align: center;
}

nav {
    margin: 5%;
}

ul {
    overflow: auto;
    list-style-type: none;
}

li {
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 20px;
}

li:last-child {
    border-right: none;
}

li a {
    text-decoration: none;
    color: #ccc;
    font: 25px/1 'Playfair Display SC', serif;
    text-transform: uppercase;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

li a:hover {
    color: #666;
}

li.active a {
    font-weight: bold;
    color: #333;
}
body {
    font-family: font-family: 'Playfair Display SC', serif;
    text-align: center;
}
h1 {
    font-weight: bold;
    font-family: 'Limelight', cursive;
    font-size: 500%;
/*    color: floralwhite;*/
}
p { 
    border-right: 50px solid-black;
}
.post {
    padding-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    line-height: 20px;
}

.test {
    height:100%;
    width:100;
    border:0;
    border-left:10px; 
    border-right: 10px;
    border-style:solid;
    border-color:black;
    margin-left:15%;
    margin-right:15%;
}
